.App {
  text-align: center;
}

.App-header_app {
  background-color: #1589CE;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.App-container {
  position: 'relative';
  height: 15vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.2vh;
}

.App-right_top {
  position: absolute; /* 📌 1. เอาเครื่องหมาย '' ออก */       
  left: 50vw;           /* 📌 3. เพิ่มคำสั่งนี้เพื่อดึงกล่องไปชิดขอบขวาสุด */
  height: 45vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.2vh;
}

.App-right_bottom {
  position: absolute; /* 📌 1. เอาเครื่องหมาย '' ออก */       
  left: 50vw;           /* 📌 3. เพิ่มคำสั่งนี้เพื่อดึงกล่องไปชิดขอบขวาสุด */
  top: 55vh;
  height: 45vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.2vh;
  overflow-x: auto; /* สิ่งที่ต้องเพิ่มเพื่อสร้าง Scrollbar */
  overflow-y: hidden;
}

/* กล่องสีขาวที่ใส่ช่องค้นหา */
.search-box-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 2vh;
  display: flex;
  gap: 0.8vw;
}

.time-dropdown {
  position: absolute;
  left: 37vw;
  top: 17vh;
  height: 5vh;
  width: 12vw;
  background-color: #ffffff;
  z-index: 1;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #000000;
  font-family: 'Plus Jakarta Sans', sans-serif;
  cursor: pointer;
}

/* ช่องกรอกข้อความ Input */
.search-input {
  padding: 0.2vw;
  font-size: 2.1vh;
  border-radius: 0.3vw;
  border: 1px solid #ddd;
  outline: none;
  width: 12vw; /* กำหนดความกว้างสักหน่อย */
}

.search-input:focus {
  border-color: #007bff; /* เปลี่ยนสีขอบเมื่อคลิกพิมพ์ */
}

/* ปุ่มกด Search */
.search-button {
  padding: 1vh 1vw;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3vw;
  cursor: pointer;
  font-size: 2.1vh;
  transition: background-color 0.2s; /* ให้สีค่อยๆ เปลี่ยนตอนเอาเมาส์ชี้ */
}

.search-button:hover {
  background-color: #0056b3; /* สีเข้มขึ้นตอนเอาเมาส์ชี้ */
}